body {
  padding-top: 54px;
  padding-bottom: 50px; 
  background-color: #F7F7F7;
}

.navbar-brand {
  font-family: "Verdana";
}

.navbar-collapse {
  font-family: "Verdana";
}

#sr_container {
    position: relative;
    margin: 10% auto;
    width: 335px;
    height: auto;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    background-color: white;
    box-shadow:2px 2px 8px rgba(20%,20%,40%,0.2);
}

.tab-pane.fade{
    text-align: left;
}

#signin {
  margin: 30px;
}

#signup {
  margin: 30px;
}

.form-control {
  margin-bottom: 20px;
}

.nav-item.sign{
  width: 50%;
}

.card {
  position: relative;
  margin: 10% auto;
  width: 335px;
  border-radius: 5px;
  box-shadow:2px 2px 8px rgba(20%,20%,40%,0.2);
}

.card img {
  border-radius: 5px 5px 0 0;
}

.card .container {
  padding: 20px;
}

#post_list_nav{
  background-color: white;
  position: relative;
  padding: 17px 20px 17px 20px;
  text-align: left;
  margin: 20px auto 0 auto;
  width: 700px;
  height: 70px;
  box-shadow:2px 2px 10px rgba(20%,20%,40%,0.2);
  font-size: 25px;
  border-radius: 5px;
}

#post_btn {
  float: right;
  width: 100px;
}

#post_list {
  position: relative;
  margin: 20px auto;
  width: 700px;
  box-shadow:2px 2px 10px rgba(20%,20%,40%,0.2);
  border-radius: 5px;
}

#content, #comment {
  float:left;
  background-color: white;
  padding: 20px 23px 20px 23px;
  text-align: left;
  position: relative;
  margin: 20px auto 0 auto;
  width: 700px;
  box-shadow:1px -1px 10px rgba(20%,20%,40%,0.2);
  border-radius: 5px;
}


.list-group-item {
  text-align: left;
  border: 0;
}

.list-group-item:nth-child(even) {
  background-color: #f3f3f3;
}

.list-group-item:hover {
  background-color: #ffffdd;
}

.list-group-item.loading:hover {
  background-color: white;
}

.text-center {
  font-family: Microsoft JhengHei;
  max-width: 700px;
  padding: 0;
}
.post_link {
  color: black;
}

.post_link:hover {
  color: #0055aa;
}

#pagination_c {
  position: relative;
  margin: 20px auto;
  width:fit-content;
  width:-webkit-fit-content;
  width:-moz-fit-content;
  height: 70px;
}

.pagination .page-item {
  text-align: center;
}

.page-link {
  color: black;
  position: relative;
  margin: 0 3px 0 3px;
  border-radius: 5px;
  box-shadow:2px 2px 10px rgba(20%,20%,40%,0.2);
}

.page-item.active .page-link {
  background-color: gray;
  border-color: gray;
}

#logout_link:hover {
  cursor: pointer;
}

#btnLoginGooglePop {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 0, 0);
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border: 0px;
  float: left;
}

#btnLoginGooglePop .tooltiptext {
  top: 2px;
  left: 120%; 
  visibility: hidden;
  width: 200px;
  background-color: gray;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

#btnLoginGooglePop:hover .tooltiptext {
  visibility: visible;
}

#btnLoginGooglePop:hover .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent gray transparent transparent;
}

#btnLoginGooglePop:hover {
  cursor: pointer;
}

#photoUpload {
  position: absolute;
  bottom: 75px;
  right: 8px;
  width: 40px;
  height: 40px;
  background-color: rgba(236, 236, 236, 0.5);
  background-image: url('../img/camera.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  border-radius: 20px;
  display: none;
}

#photoUpload:hover {
  background-color: rgba(235, 235, 235, 0.863);
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
  cursor: pointer;
  animation: photoUploadAnimation 0.3s;
  animation-timing-function: cubic-bezier(0.1, 0.25, 0.1, 1.0);
}

@keyframes photoUploadAnimation
{
    0% {bottom: 75px;}
    50% {bottom: 85px;}
    100% {bottom: 75px;}
}

.row {
  max-width: 700px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  #post_list_nav {
    width: 100%;
    font-size: 18px;
  }
  #post_list {
    width: 100%;
  }
  #content, #comment, .text-center  {
    width: 100%;
  }
  .card {
    width: 280px;
  }
}

@media (max-width: 450px) {
  #author_link {
    display: none;
  }
}

